{% extends 'TEMPLATE_BASE/FORM_BASE.html' %}

{% block title %}
新增订单
{% endblock title %}

{% block form_url %}
{% url 'order:order_add' %}
{% endblock form_url %}

{% block form %}
<label for="customer_id">选择客户</label>
<select name="customer_id" id="customer_id">
    {% for customer in customer_list %}
    <option value="{{customer.id}}">{{ customer.name}}</option>
    {% endfor %}
</select><br>
<button class="btn btn-outline-primary w-100  mb-3">
<input type="submit" value="提交" hidden>
提交
</button>

{% endblock form %}

{% block back_to %}
    {% url 'order:order_manage' %}
{% endblock back_to %}
    